:root {
  --PrimaryColor: hsl(44, 93%, 50%);
  --HoverColor: hsl(44, 87%, 35%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsla(0, 2%, 35%, 0.684);
  --inputColor: hsl(330, 12%, 97%);
  --greyText: rgb(190, 190, 190);
}
.home {
  height: 80vh;
  background: url(../../assets/Image/Hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;

  .secContainer {
    .homeText {
      text-align: center;

      .title {
        color: var(--whiteColor);
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
      }

      .subTitle {
        color: var(--whiteColor);
        opacity: 0.9;
        font-size: 15px;
        padding: 1rem 0;
        max-width: 70%;
        text-align: center;
        margin: auto;
      }

      .btn {
        padding: 0.6rem 1.5rem;
      }
    }

    .homeCard {
      width: 80%;
      border-radius: 1rem;
      padding: 2rem;
      background: var(--whiteColor);
      position: absolute;
      gap: 1rem;
      justify-content: center;
      bottom: -30%;
      transform: translate(-50%);
      left: 50%;
      box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.5);

      .locationDiv,
      .distDiv,
      .priceDiv {
        width: 100%;

        label {
          display: block;
          color: var(--textColor);
          font-weight: 500;
          font-size: 15px;
          padding-bottom: 0.4rem;
        }

        input {
          width: 100%;
          background: var(--inputColor);
          border-radius: 10px;
          border: none;
          padding: 10px;
          font-size: 15px;
          font-weight: 500;

          &::placeholder {
            font-size: 15px;
            opacity: 0.5;
            font-weight: 400;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .btn {
        width: 100%;
        pad: 0.6rem 1.5rem;
        color: var(--whiteColor);
        font-weight: 600;
      }
    }
  }
}

.whatsapp {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;

  .icon {
    font-size: 40px;
    background-color: var(--PrimaryColor);
    border-radius: 50%;
    padding: 5px;

    &:hover {
      background-color: var(--blackColor);
      color: var(--PrimaryColor);
    }
  }
}
.popup-content {
  border-radius: 20px;
  .modal {
    padding: 15px;
    text-align: center;

    .link {
      color: var(--blackColor);
      &:hover {
        color: var(--PrimaryColor);
      }
    }
    .content {
      margin-bottom: 20px;
    }

    .singleModal {
      margin-bottom: 10px;
      &:hover {
        transform: scale(1.2);
      }
    }

    .btn {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 480px) {
  .home {
    .secContainer {
      .homeCard {
        bottom: -50px;
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        .btn {
          transform: translateY(25px);
        }
      }
    }
  }
}

@media screen and (min-width: 556px) {
  .home {
    .secContainer {
      .homeText {
        .title {
          font-size: 2.5rem;
        }
        .subTitle {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .home {
    .secContainer {
      .homeCard {
        bottom: -10%;
        grid-template-columns: repeat(4, 1fr);
      }
      .homeText {
        padding: 1rem 10rem;
        .title {
          font-size: 3.5rem;
          margin: auto;
          line-height: 4rem;
        }

        .subTitle {
          width: 70%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home {
    .secContainer {
      .homeText {
        .subTitle {
          font-size: 20px;
        }
      }

      .homeCard {
        width: 77%;
      }
    }
  }
}
